<h6>Dashboard Page</h6>
<h3> Welcome {{name}}</h3>
<p> Here are your stories </p>
<!-- stories is now just giftcards-->
{{#if giftcards}}
<table class="striped">
    <thead>
        <tr>
            <th>ID:</th>
            <th>Value</th>
            <th>CreatedAt</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each giftcards}}
        <tr>
            <td><a href="/giftcards/{{giftID}}"></a>{{giftID}}</td>
            <td><a href="/giftcards/{{giftID}}"></a>${{value}}</td>
            <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any gift cards</p>
{{/if}}