<h6>Dashboard Page</h6>
<h3> Welcome {{name}}</h3>
<p> Here are your stories </p>
<!-- stories is now just giftcards-->
{{#if giftcards}}
<table class="striped">
    <thead>
        <tr>
            <th>ID:</th>
            <th>Value</th>
            <th>CreatedAt</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each giftcards}}
        <tr>
            <td><a href="/giftcards/{{_id}}">{{giftID}}</a></td>
            <td><a href="/giftcards/{{giftID}}"></a>${{value}}</td>
            <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
            <td>
                <a href="/giftcards/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
                <form action="/giftcards/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="Delete">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any gift cards</p>
{{/if}}