<div class="row">
    <div class="col s12 m8">
        <h3>
            {{gift.title}}
            <small>{{{editIcon gift.user user gift._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title"> {{formatDate date 'MMMM Do YYYY'}}</span>
                {{{gift.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{gift.user.displayName}}</span>
                <img src="{{gift.user.image}}" class="circle responsive-img img-small">
            </div>
            <div>
                <a href="/stories/user{{gift.user._id}}">More From {{gift.user.user._id}}</a>
            </div>
        </div>
    </div>
</div>