<div class="row">
    <div class="col s12 m8">
        <div class="card story">
            <div class="card-content">
                <h3>
                    Gift Card Code: {{gift.giftID}}
                </h3>
                <span class="card-title"> {{formatDate date 'MMMM Do YYYY'}}</span>
                {{{gift.value}}}
                <br><br>
                <a href="/giftcards/edit/{{gift._id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
                <form action="/giftcards/{{gift._id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="Delete">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>